<!--
 * @Auther: 陈宇驰
 * @Date: 1/5/19 09:02
 * @Description:
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta content="always" name="referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="images/logo_16.png">
    <title>云浮中小微企业金融服务平台-后台管理系统</title>
</head>

<body>
    <div id="myApp_home">

    </div>
    <script src="./ckplayer/ckplayer/ckplayer.min.js" charset="UTF-8"></script>
</body>

</html>